* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff9e9;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  line-height: 1.5;
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: left;
}

.first {
  color: #444;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.links {
  font-size: 15px;
  margin: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.navbar {
  background-color: #444;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: #444;
}

.navbar a.active {
  background-color: rgb(99, 99, 99);
  color: white;
}

#top {
  text-align: center;
}

@media screen and (max-width: 424px) {
  #estimatedShrinkage {
    display: block;
  }
}

@media screen and (max-width: 424px) {
  #actual-green {
    display: grid;
    justify-content: center;
  }
}
